.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    align-items: flex-start;
    padding: 2rem;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  .contact-info {
    justify-content: center;
    flex: 1;
    padding-right: 2rem;
  }
  
  .contact-info h2 {
    color: #007bff;
    margin-bottom: 1rem;
  }
  
  .contact-info p {
    margin: 0.5rem 0;
    color: #333;
  }
  
  .contact-form {
    flex: 1;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 150px;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .contact-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #0056b3;
  }
  

  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-info,
    .contact-form {
      flex: none;
      width: 100%;
      padding: 10px;
    }
  
    .contact-info {
      padding-bottom: 2rem;
    }
  }
  