.signup-container {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
  }
  
  .signup-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .signup-form h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-group input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .signup-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  

  /* hard coded */
  .hr-line{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1rem 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }
  .login-or-text{
    text-align: center;
    top: 50%;
    padding: 0 0.5rem;
    color: #ccc;
    font-size: 0.8rem;
    font-weight: bold;
  }

  /* Don't have an account? */
  .custom-btn{
    width: 100%;
    padding: 0.75rem;
    background-color: #d5d7da;
    border: #333 solid 1px;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
    
  }

  .signup-text{
    text-align: center;
    margin-top: 1rem;
    color: #0b98ea;
    font-weight: bold;
    
  }